{% extends "base.html" %}

{% block title %}Travel Agency{% endblock %}

{% block content %}


<section>
  <div class="container">
      <div class="row justify-content-center pb-4">
    <div class="col-md-12 heading-section text-center">
      <h2 class="mb-4">Top Liked Destinations</h2>
    </div>
  </div>
  <div class="row">
      <div class="col-md-3">
          <div class="project-destination">
              <a href="#" class="img" style="background-image: url(./static/img/place-1.jpg);">
                  <div class="text">
                      <h3>Singapore</h3>
                      <span>8 Tours</span>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-md-3">
          <div class="project-destination">
              <a href="#" class="img" style="background-image: url(./static/img/place-2.jpg);">
                  <div class="text">
                      <h3>Canada</h3>
                      <span>2 Tours</span>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-md-3">
          <div class="project-destination">
              <a href="#" class="img" style="background-image: url(./static/img/place-3.jpg);">
                  <div class="text">
                      <h3>Thailand</h3>
                      <span>5 Tours</span>
                  </div>
              </a>
          </div>
      </div>
      <div class="col-md-3">
          <div class="project-destination">
              <a href="#" class="img" style="background-image: url(./static/img/place-4.jpg);">
                  <div class="text">
                      <h3>Autralia</h3>
                      <span>5 Tours</span>
                  </div>
              </a>
          </div>
      </div>
  </div>
  </div>
</section>
{% endblock %}